
.load_overlay {
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background-color: #1116;
  z-index: 9999999999;
}

.load_overlay h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #FFF;
}
