
.player_creation {
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background-color: #1116;
  z-index: 9999999999;
}

.player_creation input {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  background-color: #111;
  border: 1px solid #999;
  color: #DDD;
  padding: 10px 20px;
}
