
<div class="selected_units"></div>
<div class="action_bar">
  <button name="build">Build</button>
  <button name="inventory">Inventory</button>
  <button>Equipment</button>
  <button>Skills</button>
</div>
<div class="build_menu">
</div>
